.homepage-container {
    display: flex;
}

.preview-card-container {
    background-color: white;
}

.preview-container {
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    background-color: lavenderblush;
    transition: 0.2s all ease;
}

.container-header {
    position: absolute;
    height: 50px;
    top: 0%;
    text-align: center;
    border-bottom: 3px dotted black;
    padding: 5px 40px;
    z-index: 2;
}
.container-header:nth-of-type(0) {
    width: 40%;
}
.container-header:nth-of-type(1) {
    width: 60%;
}

.view-code-btn {
    cursor: pointer;
    transition: 0.4s all ease;
}
.view-code-btn:hover {
    scale: 1.5;
}

.preview-bg-color-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    gap: 50px;
}

.controls-container {
    padding-top: 400px;
    padding-bottom: 50px;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
    overflow-y: scroll;
}

.controls-section-header {
    margin-top: 50px;
    margin-bottom: 15px;
}

.controllers-section > div {
    padding-left: 50px;
}

.controls-row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.controls-row > div {
    width: 250px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.name-reset-container {
    display: flex;
    justify-content: space-between;
}

.reset-value-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.reset-btn {
    scale: 1.5;
    transition: 0.4s all ease;
    cursor: pointer;
}
.reset-btn:hover {
    rotate: 360deg;
    scale: 2;
}

input {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s all ease;
    width: 100%;
}
input:hover {
    opacity: 1;
}

select {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 2px;
    background-color: white;
    color: black;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s all ease;
}
select:hover {
    opacity: 1;
}
.code-container {
    margin-top: 50px;
    display: flex;
}
.code-container > div {
    height: calc(50vh - 25px);
    width: 50%;
}

.code-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.copied-message {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.visible {
    opacity: 1;
}

.copy-btn {
    cursor: pointer;
    transition: 0.2s all ease;
}
.copy-btn:hover {
    scale: 1.1;
}

textarea {
    height: 100%;
    width: 100%;
    color: black;
    padding: 10px;
    resize: none;
    background-color: whitesmoke;
}
